body{
  background-color: #84D0DA;
  text-align: center;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Shizuru', cursive;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header{
  color: #F4F6F7;
  background: #000;
  padding: 50px;
}
a:hover{
  color: green;
}
#find-us{
  background: #F4F6F7;
  padding: 1px;
}
